.search-quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.search-results {
  margin-top: 20px;
}

.quote-item {
  padding: 10px;
  background-color: #f9f5ee; /* Warm background color */
  margin-bottom: 10px;
  border-radius: 5px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  color: #964b00;
}
